:root {
  /* colors */
  --dsb-navbar-black: #150e19;
  --dsb-navbarText: #ffffff;
  --dsb-navbarTextScrolled: #ffffff;
  --dsb-full-white-navbar: #ffffff;
  --dsb-grey: #87a2ab;
  --background-Color: #fff5f3;
  --text-hero-header-1-color: #fff;
  --text-hero-header-2-color: #fbfbfb;
  --text-body-header-color: #000;
  --text-body-highlight-header-color: #fff;
  --text-body-highlight-sub-header-color: #fafafa;
  --text-body-highlight-color: #cccccc;
  --services-and-technology-border-color: #000000;
  --services-and-technology-body-color: #303030;
  --submit-button-background-color: #a6a6a6;
  --footer-background-color: #000;
  /* margins */
  --margin-xs-navbar: 1.25rem;
  --margin-small-navbar: 2.5rem;
  --margin-section: 10rem;
  /* --margin-body-text: 1.25rem; */
  --margin-body-text: 2rem;
  --margin-tech-and-service-header: 1rem;
  /* --margin-summary-section-sides: 5vw; */
  --margin-summary-section-sides: 7rem;
  --margin-summary-section-sides-1800px: 3rem;
  /* transition */
  --transition-time: 0.25s;
  /* font sizes */
  --text-navbar: 1.5rem;
  --text-footer: 0.8rem;
  --text-hero-header-1: 3.5rem;
  --text-hero-header-2: 2.5rem;
  --text-tech-and-service-header: 2.5rem;
  --text-tech-and-service-body: 1.875rem;
  --text-body-header: 4rem;
  --text-body-sub-header: 3.125rem;
  --text-body: 1.5rem;
  --text-highlight-body: 1.875rem;
  --text-contact-medium: 1.875rem;
  --text-highlight-title: 2.5rem;
  --font-weight-body-header: bold;
  --font-weight-body: medium;
  /* navbar heights */
  --navbar-height-full: 10rem;
  --navbar-height-fullScrolled: 6rem;
  --navbar-height-600px: 3rem;
  --navbar-height-450px: 4rem;
}

button {
  background: none;
  border: none;
}

html {
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 2048px) {
  html {
    font-size: 100%;
  }
}

@media only screen and (max-width: 1920px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 70%;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 60%;
  }
}

.bodyText {
  font-size: var(--text-body);
  font-weight: var(--font-weight-body);
  line-height: 2.813rem;
  margin-bottom: var(--margin-body-text);
}
.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*----------Navbar----------*/
#navbar {
  width: 100%;
  height: var(--navbar-height-fullScrolled);
  z-index: 10;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: height var(--transition-time),
    background-color var(--transition-time);
}

#navbar.navbarScrolled {
  width: 100%;
  max-width: 100vw;
  height: var(--navbar-height-fullScrolled);
  background-color: var(--dsb-navbar-black);
}

#navbarListRightSide {
  margin-right: var(--margin-xs-navbar);
}

#navbarListLeftSide {
  margin-left: var(--margin-xs-navbar);
}

#navbarList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  transition: var(--transition-time);
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dsb-full-white-navbar);
  text-decoration: none;
  margin: 1rem;
}
.listItem:hover #listItemAbout {
  transform: scale(1.25);
  text-decoration: none;
}

.listItemScrolled {
  box-shadow: none;
}

.listItemLink {
  color: var(--dsb-full-white-navbar);
  display: flex;
  justify-content: space-evenly;
}

.listItemLinkText {
  transition: var(--transition-time);
  font-size: var(--text-navbar);
  color: var(--dsb-navbarText);
}

.listItemLinkTextScrolled {
  transition: var(--transition-time);
  color: var(--dsb-navbarTextScrolled);
}

#logoContainer {
  background-color: var(--dsb-navbar-black);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 0.25rem solid var(--dsb-full-white-navbar);
  width: 4.25rem;
  height: 4.25rem;
  top: 0;
  transition: var(--transition-time);
  margin-left: 4rem;
  opacity: 0;
}

#logoContainer.logoContainerScrolled {
  width: 4.25rem;
  height: 4.25rem;
  top: 0;
  border-width: 0.25rem;
  opacity: 1;
}
#logoSvg {
  transition: var(--transition-time);
  width: 80%;
  height: 140%;
}

#logoSvg.logoSvgScrolled {
  height: 125%;
  width: 125%;
}

.navbarListContainer {
  transition: var(--transition-time);
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbarButton {
  display: none;
  position: absolute;
  top: 50%;
  left: 92%;
  transform: translate(-50%, -50%);
  height: 57%;
  width: 2.5rem;
}

#navbarButton:hover {
  cursor: pointer;
}

#navbarButton span {
  background: white;
  transform: translateY(-50%) rotate(0deg);
  position: absolute;
  width: 100%;
  height: 10%;
  right: 0%;
  transition: top 0.1s ease 0.3s, transform 0.3s ease, background 0.1s ease 0.3s;
}

#navbarButton.clicked span {
  transition: top 0.1s ease, transform 0.3s ease 0.1s, background 0.1s ease;
}

#navbarButton span:nth-child(1) {
  top: 12%;
}

#navbarButton span:nth-child(2) {
  top: 50%;
}

#navbarButton span:nth-child(3) {
  top: 90%;
}

#navbarButton.clicked span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(315deg);
}

#navbarButton.clicked span:nth-child(2) {
  transform: translateY(-50%) rotate(405deg);
}

#navbarButton.clicked span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(405deg);
}

#mainMenuContainer {
  display: none;
}

#mainMenu {
  display: none;
  overflow-y: auto;
}

.mainMenuListItem {
  display: none;
}
.mainMenuListLink {
  display: none;
}

#mainMenuOpacityLayer {
  display: none;
}

#menuHeaderContainer {
  display: none;
}

@media only screen and (max-width: 1230px) {
  #navbar {
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  #navbar {
    height: var(--navbar-height-fullScrolled);
  }

  #logoContainer {
  }

  #navbarList {
    justify-content: space-between;
  }
  #logoContainer {
    margin-left: var(--margin-small-navbar);
    margin-right: var(--margin-xs-navbar);
    width: 4.25rem;
    height: 4.25rem;
    top: 0;
    border-width: 0.25rem;
  }
  #navbarListRightSide {
    margin-right: var(--margin-xs-navbar);
  }

  .listItem {
    margin: 1rem 0.8em;
  }
}

@media only screen and (max-width: 795px) {
  #navbar {
    height: var(--navbar-height-600px);
    background-color: var(--dsb-navbar-black);
  }

  #navbar.navbarScrolled {
    height: var(--navbar-height-600px);
  }

  #navbarListRightSide {
    display: none;
  }

  #navbarButton {
    display: block;
  }

  #navbarList {
    justify-content: space-between;
  }

  #logoContainer {
    top: 0;
    width: 3rem;
    height: 3rem;
    border: none;
    margin: 0.5rem;
    opacity: 1;
  }

  #logoContainer.logoContainerScrolled {
    top: 0;
    height: 3rem;
    width: 3rem;
    border: none;
  }
  #logoSvg {
    width: 75%;
    height: 75%;
    padding-top: 2px;
  }
  #logoSvg.logoSvgScrolled {
    width: 75%;
    height: 75%;
  }

  #mainMenu {
    animation: menu-slide-in 0.25s both;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
    max-height: 100%;
    background-color: var(--dsb-navbar-black);
    position: fixed;
    right: 0;
    min-width: 15rem;
    width: 75%;
    z-index: 10;
  }

  @keyframes menu-slide-in {
    0% {
      transform: translateX(1000px);
    }
    100% {
      transform: translateX(0);
    }
  }

  #mainMenuOpacityLayer {
    display: flex;
    width: 25%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    animation: menuOpacity-slide-in 0.5s both;
  }

  @keyframes menuOpacity-slide-in {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }

  .mainMenuListItem {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 100%;
  }
  .mainMenuListLink {
    display: flex;
    color: var(--dsb-full-white-navbar);
    text-decoration: none;
    font-size: var(--text-navbar);
  }

  #menuHeaderContainer {
    display: block;
    background-color: var(--dsb-navbar-black);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 0.25rem solid var(--dsb-full-white-navbar);
    width: 8.25rem;
    height: 8.25rem;
    margin: var(--margin-small-navbar) 0;
  }

  #menuHeaderLogo {
    width: 80%;
    height: 140%;
  }
}

@media only screen and (max-width: 450px) {
  #navbar {
    height: var(--navbar-height-450px);
  }

  #navbar.navbarScrolled {
    height: var(--navbar-height-450px);
  }
}
@media only screen and (max-width: 400px) {
  #logoContainer {
    margin-left: 1%;
  }
}

#pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-Color);
}
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 2560px;
}

/*
-------Hero-------
 */

#heroSection {
  height: 65rem;
  min-height: 55rem;
  max-height: 75vh;
  width: 100vw;
  /* below max-width prevents horizontal scroll from happening on devices that don't have scrollbar on the right  */
  max-width: 100%;
}

#heroSectionContent {
  width: 100%;
  position: relative;
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 65rem;
  min-height: 65rem;
  max-height: 75vh;
}

.videoContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

#heroVideo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  z-index: 1;
}

.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.heroTextContainer {
  position: absolute;
  top: 25%;
  z-index: 3;
  color: #ffffff;
  width: 60rem;
  margin-left: 10rem;
}

#heroHeader {
  font-size: var(--text-hero-header-1);
  padding-bottom: 2rem;
  color: var(--text-hero-header-1);
}

#heroSubHeader {
  font-size: var(--text-hero-header-2);
  color: var(--text-hero-header-2);
}

@media only screen and (max-width: 1350px) {
  .heroTextContainer {
    width: 90%;
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 1000px) {
  .heroTextContainer {
    margin: 0;
    left: 5%;
    text-align: left;
  }
}

@media only screen and (max-width: 400px) {
  #heroHeader {
    font-size: 28px;
  }

  #heroSubHeader {
    font-size: 24px;
  }
  .heroTextContainer {
    top: 15%;
  }
}

/*
-------Summary Section-------
 */

#summarySection {
  /* margin: var(--margin-section) 0; */
  padding: var(--margin-section) 0;
}
#summarySectionContent {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.summarySectionContentBox {
}

#summaryBox {
  width: 65%;
  margin-left: var(--margin-summary-section-sides);
}

#summarySectionContentContainer {
  display: flex;
  flex-direction: column;
}

.summarySectionContentBoxHeader {
  font-size: var(--text-body-header);
  font-weight: var(--font-weight-body-header);
  margin-bottom: var(--margin-body-text);
  color: var(--text-body-header-color);
}

#servicesAndTechnologyContainer {
  display: flex;
  flex-direction: column;
}

.servicesAndTechnologyBox {
  width: 45rem;
  border-left: 1px solid var(--services-and-technology-border-color);
  padding-bottom: 1rem;
  padding-left: 3rem;
  max-width: 650px;
  margin-left: 1rem;
  margin-right: var(--margin-summary-section-sides);
}

.servicesAndTechnologyHeader {
  font-weight: 500;
  font-size: var(--text-tech-and-service-header);
  margin-bottom: var(--margin-tech-and-service-header);
}

.serviceAndTechList {
  display: flex;
  flex-wrap: wrap;
}

.servicesAndTechnologyText {
  font-size: var(--text-tech-and-service-body);
  line-height: 3.125rem;
  color: var(--services-and-technology-body-color);
}

/* delimiter is | mark between service and tech headers*/
.delimiter {
  margin: 0 0.5rem;
}
@media only screen and (max-width: 350px) {
  .serviceAndTechList {
    flex-direction: column;
  }
  .delimiter {
    display: none;
  }
}

@media only screen and (max-width: 1800px) {
  #summaryBox {
    width: 75%;
    margin-left: var(--margin-summary-section-sides-1800px);
  }

  .servicesAndTechnologyBox {
    margin-right: var(--margin-summary-section-sides-1800px);
  }
}

@media only screen and (max-width: 1600px) {
  #summaryBox {
    width: 90%;
  }
}

@media only screen and (max-width: 1300px) {
  #summarySectionContent {
    flex-direction: column;
  }
  #summaryBox {
    margin: 0 2.5%;
    margin-top: var(--margin-body-text);
  }

  .servicesAndTechnologyBox {
    border: none;
    padding-left: 0;
    width: 85%;
    max-width: 100%;
    margin: 0 2.5%;
  }

  .servicesAndTechnologyText {
  }
}

/*
-------highlights-------
 */

#highlightsSection {
  margin-bottom: var(--margin-section);
}

#highlightsSectionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#content {
  height: 100rem;
}

#highlightsBox {
  width: 90%;
  background-color: #191919;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#highLightsBoxHeader {
  color: var(--text-body-highlight-header-color);
  margin-top: 8rem;
  margin-right: 5rem;
  font-size: var(--text-body-header);
  font-weight: bold;
}
#highlightsContainer {
  width: 95%;
  margin-top: 8rem;
  margin-bottom: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;

  gap: 5rem;
}

.highlight {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 900px;
  color: var(--text-highlight-color);
}

.headerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.highlightTitle {
  font-size: var(--text-highlight-title);
  font-weight: 600;
  margin-bottom: 2rem;
  color: var(--text-body-highlight-sub-header-color);
}

.highlightText {
  color: var(--text-body-highlight-color);
  font-size: var(--text-highlight-body);
}

.fullWidthVideoContainer {
  background-color: pink;
  width: 100%;
  height: 60rem;
  overflow: hidden;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top top;
}

@media only screen and (max-width: 1800px) {
  #highlightsBox {
    width: 95%;
  }
}

@media only screen and (max-width: 1370px) {
  #highlightsBox {
    width: 100%;
    border-radius: 0;
  }
}

@media only screen and (max-width: 1300px) {
  #highlightsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    width: 95%;
  }

  .headerWrapper {
    width: 95%;
    justify-content: flex-start;
  }

  .highlight {
    max-width: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 1300px) {
  #highlightsContainer {
    /* width: 95%; */
  }
}

/*
-------How We Did It-------
 */

#howWeDidItContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--margin-section) 0;
}

.contentSectionHeader {
  font-size: var(--text-body-header);
  font-weight: 600;
  margin-bottom: var(--margin-body-text);
}

.contentContainer {
  width: 70%;
}

@media only screen and (max-width: 1300px) {
  .contentContainer {
    width: 95%;
  }
}

/*
-------Quote Section-------
 */

#quoteSection {
  margin: var(--margin-section) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quoteSectionContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quoteHeader {
  font-size: var(--text-body-header);
  margin-bottom: var(--margin-body-text);
  font-weight: 600;
}

#quoteBox {
  margin-top: var(--margin-body-text);
  width: 60rem;
  padding: 3rem;
  border-left: 1px solid black;
}

#quoteText {
  font-style: italic;
}

#quoteAuthorContainer {
  display: flex;
  align-items: center;
}
#authorImage {
  width: 90px;
  height: 90px;
  background-image: url("../../../public/assets/ebSection/tomiTeikko.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 10px;
}

#quoteAuthor {
}

@media only screen and (max-width: 1300px) {
  #quoteSectionContentContainer {
    width: 85%;
  }
  #quoteBox {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  #quoteBox {
    padding: 0;
    border: none;
  }
}
@media only screen and (max-width: 500px) {
  #authorImage {
    height: 70px;
  }
}

@media only screen and (max-width: 400px) {
  #authorImage {
    height: 60px;
  }
}

@media only screen and (max-width: 320px) {
  #authorImage {
    height: 55px;
  }
}

/*
  -----------------CONTACT SECTION-----------------
   */

#contact-us {
  background-color: #1b1a1a;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#contactSectionHeader {
  font-size: var(--text-body-header);

  margin-top: var(--margin-section);
  margin-bottom: var(--margin-body-text);
}

#contactSectionSubHeader {
  font-size: var(--text-contact-medium);
  margin-bottom: var(--margin-body-text);
  text-align: center;
  width: 95%;
}

.contactSectionContent {
  margin-top: var(--margin-body-text);
  display: flex;
  justify-content: center;
}

.contactPersonContainer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.contactPersonImageContainer {
  width: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactPersonImage {
  max-width: 170px;
}

#deadsetBitLogoContact {
  height: 200px;
}

.contactPersonTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactPersonName {
  font-size: var(--text-contact-medium);
  color: var();
  margin-bottom: 1rem;
}

.bodyTextContact {
  font-size: var(--text-body);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #ccc;
}
.contactFormContainer {
  display: flex;
  justify-content: center;
}
#contactForm {
  padding: 20px;
  width: 520px;
  display: flex;
  flex-direction: column;
}

.formLabel {
  display: block;
  font-size: var(--text-body);
  margin: 1px;
  margin-bottom: 4px;
}

.contactFormInput,
.messageField {
  height: 70px;
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #a4a2a2;
  border-radius: 10px;
  font-size: var(--text-small);
}

@media screen and (max-width: 600px) {
  .contactFormInput,
  .messageField {
    height: 50px;
  }
  .contactFormInput::placeholder {
    font-size: var(--text-formPlaceholder);
  }
}

.messageField {
  resize: vertical;
  height: 300px;
}

#contactFormRadioInputContainer {
  font-size: var(--text-middle);
  margin-bottom: 15px;
}
.contactFormRadioInput {
  width: 15px;
  height: 15px;
}
.helpText {
  font-size: var(--text-small);
  margin-top: 15px;
  margin-bottom: 15px;
}
.radioLabel {
  font-size: var(--text-small);
}
#submitButtonContainer {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

#iAgreeToTermsAndConditionsContainer {
  display: flex;
  border-radius: var(--border-radius);
}

#termsCheckbox {
  margin-right: 8px;
  width: 15px;
  height: 15px;
}

#termsAndConditionsErrorBorder {
  border-radius: var(--border-radius);
}

.iAgreeToTermsAndConditionsTextContainer {
  font-size: var(--text-small);
}
#privacyPolicyLink {
  font-size: var(--text-body);
  text-decoration: none;
  margin-left: 27px;
  color: #a6a6a6;
}
#submitButton {
  width: 200px;
  height: 50px;
  background-color: var(--submit-button-background-color);
  border: 2px solid black;
  color: black;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--text-body);
}

#submitButton:hover {
  background-color: var(--dsb-submit-button-hover-color);
  color: var(--dsb-submit-button-hover-text-color);
}

.thanksForContactingUsContainer {
  display: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--dsb-dark-grey);
  margin: 3rem 0rem;
  width: 80%;
}

.thanksForContactingUsText {
  font-size: var(--text-contact-medium);
}
.socialIcon {
  width: 24px;
  height: 24px;
}

@media only screen and (max-width: 1200px) {
  .contactSectionContent {
    flex-direction: column;
  }
  .contactSectionPeople {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contactPersonContainer {
    margin: 1rem 0rem;
  }
}

@media only screen and (max-width: 600px) {
  #contactForm {
    width: 100%;
  }
  .contactPersonImageContainer {
    width: 150px;
  }
  .contactPersonImage {
    height: 134px;

    padding-left: 3px;
  }

  #deadsetBitLogoContact {
    height: 150px;
  }

  .contactFormContainer {
    width: 100%;
  }

  #messageField {
    height: 200px;
  }

  #submitButtonContainer {
    justify-content: center;
  }
}

.error {
  border: 2px solid red;
}

#contactFormRadioInputContainer {
  /* padding-top: 5px; */
  border-radius: 10px;
}

@media only screen and (max-width: 400px) {
  .contactPersonImageContainer {
    width: 115px;
  }
  #deadsetBitLogoContact {
    height: 125px;
  }

  .contactPersonImage {
    height: 100px;
  }
}

@media only screen and (max-width: 320px) {
  .bodyTextContact {
    font-size: 1.4rem;
  }
}

/*
-------Footer-------
 */
#footer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: var(--footer-background-color);
  height: 20rem;
  width: 100%;
  align-items: center;
  color: var(--dsb-grey);
  font-size: var(--text-footer);
}

#codekatuLink {
  color: var(--dsb-grey);
  text-decoration: underline;
}

@media (prefers-reduced-motion) {
  * {
    transition: none;
    scroll-behavior: none;
  }
}
