:root {
  /* colors */
  --dsb-dark: #150e19;
  --dsb-fullWhite: #ffffff;
  --dsb-red: #ca2852;
  --dsb-yellow: #fbc667;
  --dsb-ebWhite: #e6e6e6;
  --dsb-cardWhite: #f5f1f1;

  --dsb-privacy-dark-grey: #212121;
  --dsb-privacy-grey: #424242;
  --dsb-privacy-grey2: #4d4d4d;
  --dsb-light-grey: #bdbdbd;
  --dsb-grey: #87a2ab;

  --dsb-green: #00b756;
  --dsb-light-green: #13f07b;

  /* margins */
  --margin-xs: 1.25rem;
  --margin-small: 2.5rem;
  --margin-medium: 5rem;
  --margin-big: 10rem;

  /* transition */
  --transition-time: 0.25s;

  /* font sizes */
  --text-small: 1.175rem;
  --text-middle: 1.5rem;
  --text-big: 2rem;
  --text-veryBig: 2.5rem;
  --text-aboutUsSection: 1.375rem;

  /* scroll padding */
  --scroll-padding: 0;

  /* border radius */
  --border-radius: 10px;

  /* box shadow */
  --box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);

  /* line height */
  --line-height--xs: 1.1;
  --line-height--small: 1.3;
  --line-height--medium: 1.5;
  --line-height--large: 1.8;

  /* tech card amount */
  --tech-card-amount: 3;

  /* navbar heights */
  --navbar-height-full: 10rem;
  --navbar-height-fullScrolled: 6rem;
  --navbar-height-600px: 3rem;
  --navbar-height-450px: 4rem;
}

html {
  font-family: roboto;
}

#pageWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* #content h1 {
  color: #333;
  font-size: 28px;
}

#content h2 {
  color: #555;
  font-size: 24px;
}

#content h3 {
  color: #777;
  font-size: 20px;
}

#content p {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

#content a {
  color: #007bff;
  text-decoration: none;
}

#content a:hover {
  text-decoration: underline;
}

#content ul,
#content ol {
  margin-left: 20px;
}

#content li {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

#content {
  width: 80%;
} */
#content {
  max-width: 1000px;
  padding-top: 15rem;
  color: var(--dsb-privacy-dark-grey);
}

#content h1 {
  color: var(--dsb-privacy-dark-grey);
  font-size: var(--text-veryBig);
  margin-bottom: var(--margin-small);
}

#content h2 {
  color: var(--dsb-privacy-dark-grey);
  font-size: var(--text-big);
  margin-bottom: var(--margin-small);
}

#content h3 {
  color: var(--dsb-privacy-dark-grey);
  font-size: var(--text-middle);
  margin-bottom: var(--margin-small);
}

#content p {
  color: var(--dsb-privacy-grey);
  font-size: var(--text-small);
  line-height: var(--line-height--medium);
}

#content a {
  color: #0084ff;
  text-decoration: none;
}

#content a:hover {
  text-decoration: underline;
}

#content ul,
#content ol {
  margin-left: var(--margin-medium);
}

#content li {
  color: var(--dsb-privacy-grey2);
  font-size: var(--text-small);
  line-height: var(--line-height--medium);
}

#navbar {
  width: 80%;
  max-width: 100rem;
  height: var(--navbar-height-full);
  z-index: 10;
  position: fixed;
  top: 0;
  background-color: var(--dsb-dark);
  transition: width var(--transition-time), height var(--transition-time),
    max-width var(--transition-time);
}

#navbar.navbarScrolled {
  width: 100%;
  max-width: 100vw;
  height: var(--navbar-height-fullScrolled);
}

#navbarList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  transition: var(--transition-time);
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dsb-red);
  color: var(--dsb-fullWhite);
  height: 5rem;
  width: 5rem;
  margin-right: var(--margin-small);
  box-shadow: 15px 15px 2px 0px rgba(132, 39, 49, 0.75);
  -webkit-box-shadow: 15px 15px 2px 0px rgba(132, 39, 49, 0.75);
  -moz-box-shadow: 15px 15px 2px 0px rgba(132, 39, 49, 0.75);
  transition: box-shadow var(--transition-time), width var(--transition-time),
    height var(--transition-time);
}
.listItem:hover #listItemAbout {
  transform: scale(1.25);
  text-decoration: none;
}

.listItemScrolled {
  height: 4.5rem;
  width: 4.5rem;
  box-shadow: none;
}

#logoContainer {
  background-color: var(--dsb-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 4rem;
  border: 1rem solid var(--dsb-fullWhite);
  width: 12.5rem;
  height: 12.5rem;
  margin-left: var(--margin-medium);
  margin-right: var(--margin-small);
  transition: var(--transition-time);
}

#logoContainer.logoContainerScrolled {
  width: 4.25rem;
  height: 4.25rem;
  top: 0;
  border-width: 0.25rem;
}

#logoSvg {
  transition: var(--transition-time);
  width: 80%;
  height: 140%;
  /* position: relative;
    top: 0rem; */
}

#logoSvg.logoSvgScrolled {
  height: 125%;
  width: 125%;
}

.listItemLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--dsb-fullWhite);
}

#listItemAbout {
  transition: var(--transition-time);
}

.listItemLinkImage {
  width: 56px;
  height: 56px;
  transition: var(--transition-time);
}
.listItem:hover .listItemLinkImage {
  transform: scale(1.25);
}

.navbarListContainer {
  transition: var(--transition-time);
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbarButton {
  display: none;
  position: absolute;
  top: 50%;
  left: 92%;
  transform: translate(-50%, -50%);
  height: 57%;
  width: 2.5rem;
}

#navbarButton:hover {
  cursor: pointer;
}

#navbarButton span {
  background: white;
  transform: translateY(-50%) rotate(0deg);
  position: absolute;
  width: 100%;
  height: 10%;
  right: 0%;
  transition: top 0.1s ease 0.3s, transform 0.3s ease, background 0.1s ease 0.3s;
}

#navbarButton.clicked span {
  transition: top 0.1s ease, transform 0.3s ease 0.1s, background 0.1s ease;
}

#navbarButton span:nth-child(1) {
  top: 12%;
}

#navbarButton span:nth-child(2) {
  top: 50%;
}

#navbarButton span:nth-child(3) {
  top: 90%;
}

#navbarButton.clicked span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(315deg);
}

#navbarButton.clicked span:nth-child(2) {
  transform: translateY(-50%) rotate(405deg);
}

#navbarButton.clicked span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(405deg);
}

#mainMenuContainer {
  display: none;
}

#mainMenu {
  display: none;
}

.mainMenuListItem {
  display: none;
}
.mainMenuListLink {
  display: none;
}

#mainMenuOpacityLayer {
  display: none;
}

#menuHeader {
  display: none;
  width: 90%;
}
