/* source-sans-pro-200 - latin */
@font-face {
  font-display: fallback; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/source-sans-pro-v21-latin-200.woff2") format("woff2");
}
/* source-sans-pro-200italic - latin */
@font-face {
  font-display: fallback; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 200;
  src: url("./fonts/source-sans-pro-v21-latin-200italic.woff2") format("woff2");
}
/* source-sans-pro-regular - latin */
@font-face {
  font-display: fallback; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;

  src: url("./fonts/source-sans-pro-v21-latin-regular.woff2") format("woff2");
}
/* source-sans-pro-italic - latin */
@font-face {
  font-display: fallback; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;

  src: url("./fonts/source-sans-pro-v21-latin-italic.woff2") format("woff2");
  /* Super Modern Browsers */
}
/* source-sans-pro-700 - latin */
@font-face {
  font-display: fallback; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;

  src: url("./fonts/source-sans-pro-v21-latin-700.woff2") format("woff2");
}
/* source-sans-pro-700italic - latin */
@font-face {
  font-display: fallback; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 700;

  src: url("./fonts/source-sans-pro-v21-latin-700italic.woff2") format("woff2");
}

@font-face {
  font-family: fallback-font;
  src: local(sans-serif); /* required! */
  advance-override: 2200;
  ascent-override: 984;
  descent-override: -273;
  line-gap-override: 0;
}
