html {
  font-family: "Roboto";
  background-image: url(/public/assets/siteBackground.png);
  background-size: cover;
  /* background-color: yellow; */
}

#pageWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 
-----------------NAVBAR-----------------
 */

#navbar {
  background-color: #150e19;
  height: 11rem;
  width: 75%;
  position: fixed;
  color: white;
  list-style: none;
  z-index: 10;
  max-width: 1600px;
}

#navbarList {
  display: flex;
  padding: 0;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.navListItem {
  background-color: #ca2852;
  list-style: none;
  width: 5rem;
  height: 5rem;
  margin-right: 2.5rem;
  box-shadow: 20px 20px 2px 0px rgba(132, 39, 49, 0.75);
  -webkit-box-shadow: 20px 20px 2px 0px rgba(132, 39, 49, 0.75);
  -moz-box-shadow: 20px 20px 2px 0px rgba(132, 39, 49, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbarLink {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#logo {
  list-style: none;
  background-color: black;
  width: 11rem;
  height: 11rem;
  margin-left: 10rem;
  margin-right: 5rem;
  position: relative;
  top: 4rem;
  border: 1rem solid white;
}

#logoSvg {
  position: relative;
  top: -2rem;
}

/* 
-----------------HERO SECTION-----------------
 */
#heroSection {
  height: 65rem;
  width: 100%;
  background-image: url(/public/assets/heroSection/heroImage.png);
  /* background-image: url(/public/heroSection/heroImageTest.jpg); */

  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#heroSectionContent {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#aboutUsTextBox {
  background-color: white;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  box-shadow: 13px 13px 3px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 13px 13px 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 13px 13px 3px 1px rgba(0, 0, 0, 0.2);
}

#aboutUsText {
  color: #17100d;
  line-height: 1.3;

  margin-left: 12rem;
  margin-right: 12rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

#DeadSetBitText {
  font-size: 1.6rem;
  font-weight: bolder;
  font-style: italic;
}

/* 
-----------------EB SECTION-----------------
 */

#ebSection {
  background-color: #e6e6e6;
  background-image: url(/public/assets/ebSection/ebSectionBackground.png);
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ebHeaderContainer {
  margin-top: 6rem;
  margin-bottom: 3rem;
  position: relative;
  right: 19.5rem;
  display: flex;
  justify-content: center;
}

#ebHeader {
  height: 4.5rem;
}

#cardContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.card {
  background-color: white;
  width: 350px;
  height: 550px;
  margin: 1rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

.cardImageContainer {
  width: 100%;
  height: 60%;
  background: rgb(8, 115, 199);
  background: rgb(8, 115, 199);
  background: linear-gradient(
    90deg,
    rgba(8, 115, 199, 1) 30%,
    rgba(56, 221, 207, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage {
  width: 80%;
}

.cardTextContainer {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardText {
  line-height: 1.5;
  width: 85%;
  font-size: 0.9rem;
}

#haltianCardTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#haltianCardText {
  text-align: center;
  width: 100%;
}

/* 
-----------------BANZAIMAN SECTION-----------------
 */

#banzaimanSection {
  background-image: url(/public/assets/banzaimanSection/banzaimanBackground.png);
  background-size: cover;
  width: 100%;
}

#banzaimanSectionContentContainer {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sectionOrder {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#gameSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

#banzaimanLogo {
  position: relative;
  right: 4rem;
}

#gameSectionTextContainer {
  background: rgb(102, 171, 52);
  background: linear-gradient(
    90deg,
    rgba(102, 171, 52, 1) 0%,
    rgba(141, 188, 113, 1) 100%
  );

  margin-left: 4rem;
  width: 36rem;
  height: 33rem;

  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

#gameSectionTextBox {
  width: 100%;
  height: 100%;
  background-image: url(/public/assets/banzaimanSection/banzaimanTextboxBackground.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banzaimanText {
  background-color: white;
  line-height: 1.8;
  padding: 2rem;
  width: 70%;
}

/* forces the text box container below the tab selector */
#bottom {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

#googlePlayBadge {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 18.8rem;
}
/* 
-----------------EMPLOYEES SECTION-----------------
 */

#employeesSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pauliContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fdcf5f;
}

#employeeSectionHeader {
  width: 30rem;
}

#pauliImage {
  height: 110%;
}

#pauliInfoContainer {
  width: 20rem;
  margin: 2rem;
}

#pauliName {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
}

#pauliTitle {
  margin-bottom: 0.5rem;

  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}

#pauliDescription {
  font-weight: bold;
}

#employeeContainer {
  margin-top: 15rem;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fxrr 1fr;
  row-gap: 9rem;
  column-gap: 3rem;
}

.employeeCard {
  /* background-color: #fcf7f7; */
  background-color: #ffffff;

  width: 17rem;
  height: 15rem;
  position: relative;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.employeeImage {
  position: absolute;
  bottom: 12.7rem;
}

.employeeNameAndTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employeeName {
  margin-top: 2rem;
  font-size: 2rem;
  font-style: italic;
}
.employeeTitle {
  font-size: 1.2rem;

  font-style: italic;
  font-weight: regular;
}
.employeeDescription {
  font-size: 0.8rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  font-weight: regular;
  line-height: 1.1rem;
}
/*
-----------------FOOTER-----------------
 */

#footer {
  background-color: #003a46;
  height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #87a2ab;
  font-size: 0.8rem;

  text-align: center;
}

/* 
xs, extra-small: 0px
sm, small: 600px
md, medium: 900px
lg, large: 1200px
xl, extra-large: 1500px
 */

/*
css for all the section containers
*/

/* --------------1500PX-------------- */
@media only screen and (max-width: 1500px) {
  #aboutUsTextBox {
    width: 70%;
    margin-bottom: 5rem;
  }
}

/* --------------1200PX-------------- */
@media only screen and (max-width: 1200px) {
  /* NAVBAR */

  #navbar {
    width: 95%;
  }
  /* HERO SECTION */

  #aboutUsTextBox {
    width: 90%;
    margin-bottom: 5rem;
  }

  /* EB SECTION */

  #ebHeaderContainer {
    right: 0rem;
  }
  #cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  /* BANZAIMAN SECTION */
  #sectionOrder {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #gameSectionTextContainer {
    margin: 0rem;
  }

  /*
  Employees Section
 */
  #pauliContainer {
  }
}

/* --------------900PX-------------- */
@media only screen and (max-width: 900px) {
  /* NAVBAR */

  #navbar {
    width: 100%;
  }

  /* HERO SECTION */

  #aboutUsTextBox {
    width: 100%;
    margin-bottom: 5rem;
  }

  #aboutUsText {
    margin-top: 8rem;
    margin-bottom: 8rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  /* EB SECTION */
  #cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card {
    width: 26.5rem;
    margin-bottom: 3rem;
  }
  /* Employees Section */
  #employeeContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

/* --------------600px-------------- */
@media only screen and (max-width: 600px) {
  /* HERO SECTION */
  #aboutUsText {
    margin-top: 8rem;
    margin-bottom: 8rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  /* Employees Section */
  #employeeContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  /* banzaiman Section */

  #bottom {
    justify-content: center;
  }
  #gameSectionTextContainer {
    width: 100%;
  }

  #gameSectionContainer {
    width: 100%;
  }

  #banzaimanLogo {
    width: 70%;
    right: 0rem;
  }

  #banzaimanGameImage {
    width: 100%;
  }

  #banzaimanTabSelector {
    width: 70%;
  }
  /* eb section */

  #ebHeader {
    width: 95%;
  }
  #cardContainer {
    align-items: center;
  }
  .card {
    width: 80%;
  }

  #cardImagePerson {
    height: 100%;
    width: 100%;
  }

  #cardImagePhone {
    height: 120%;
  }
  #banzaimanText {
    font-size: 95%;
  }
}
/* --------------400px-------------- */

@media only screen and (max-width: 400px) {
  /* HERO SECTION */
  #aboutUsText {
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  /* eb section */
  .card {
    width: 90%;
  }

  /* banzaiman section */
  #banzaimanText {
    font-size: 80%;
  }

  #gameSectionContainer {
    width: 100%;
  }

  #banzaimanLogo {
    width: 80%;
  }

  #banzaimanGameImage {
    width: 100%;
  }

  #banzaimanTabSelector {
    width: 80%;
  }
}

/* --------------300px-------------- */
@media only screen and (max-width: 300px) {
  /* EB SECTION */
  .card {
    width: 100%;
  }

  /* BANZAIMAN SECTION */
  #banzaimanText {
    font-size: 80%;
  }

  #googlePlayBadge {
    width: 15rem;
  }
}
