:root {
  /* colors */
  --dsb-dark: #150e19;
  --dsb-white: #ffffff;
  --dsb-red: #ca2852;
  --dsb-yellow: #fbc667;
  --dsb-ebWhite: #e6e6e6;

  /* margins */
  --margin-xs: 1.25rem;
  --margin-small: 2.5rem;
  --margin-medium: 5rem;
  --margin-big: 10rem;

  /* transition */
  --transition-time: 0.25s;

  /* font sizes */
  --text-small: 1.1rem;
  --text-middle: 1.5rem;
  --text-big: 2rem;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  /* background-color: yellow; */
}

#pageWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: none;
  border: none;
}

/* 
-----------------NAVBAR-----------------
 */

#navbar {
  transition: width var(--transition-time), height var(--transition-time),
    max-width var(--transition-time);

  width: 80%;
  background-color: var(--dsb-dark);
  height: 10rem;
  max-width: 100rem;
  z-index: 10;
  position: fixed;
}

#navbar.navbarScrolled {
  width: 100%;
  height: 6rem;
  max-width: 100vw;
}

#navbarList {
  transition: var(--transition-time);

  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.listItem {
  transition: box-shadow var(--transition-time), width var(--transition-time),
    height var(--transition-time);

  background-color: var(--dsb-red);
  color: var(--dsb-white);
  height: 5rem;
  width: 5rem;

  margin-right: var(--margin-small);
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 15px 15px 2px 0px rgba(132, 39, 49, 0.75);
  -webkit-box-shadow: 15px 15px 2px 0px rgba(132, 39, 49, 0.75);
  -moz-box-shadow: 15px 15px 2px 0px rgba(132, 39, 49, 0.75);
}

.listItemScrolled {
  box-shadow: none;
  height: 4.5rem;
  width: 4.5rem;
}

#logoContainer {
  transition: var(--transition-time);

  background-color: var(--dsb-dark);
  width: 12.5rem;
  height: 12.5rem;
  margin-left: var(--margin-medium);
  margin-right: var(--margin-small);
  position: relative;
  top: 4rem;
  border: 1rem solid var(--dsb-white);

  display: flex;
  justify-content: center;
  align-items: center;
}

#logoContainer.logoContainerScrolled {
  width: 5rem;
  height: 5rem;
  top: 0;
  border-width: 0.25rem;
}

#logoSvg {
  transition: var(--transition-time);

  width: 80%;
  position: relative;
  top: 0rem;
}

#logoSvg.logoSvgScrolled {
  height: 125%;
  width: 125%;
}

.listItemLink {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarContainer {
  transition: var(--transition-time);

  display: flex;
  justify-content: center;
  align-items: center;
}

#navbarButton {
  transition: var(--transition-time);

  display: none;
  margin: var(--margin-xs);
}

#mainMenu {
  display: none;
}

.mainMenuListItem {
  display: none;
}
.mainMenuListLink {
  display: none;
}

/* 


-----------------HERO SECTION-----------------
 */

#heroSectionHeader {
  position: absolute;

  height: 20rem;
  z-index: 9;
}

#heroSection {
  height: 65rem;
  width: 100%;
  background-image: url(/public/assets/heroSection/heroImage.png);
  /* background-image: url(/public/heroSection/heroImageTest.jpg); */

  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#heroSectionContent {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#siteHeader {
  position: absolute;
  width: 25rem;
  top: -8rem;
  left: -5rem;
}

#aboutUsTextBox {
  position: relative;
  background-color: var(--dsb-yellow);
  border: 4rem solid var(--dsb-white);
  width: 70rem;
  display: flex;
  margin-bottom: var(--margin-big);
  box-shadow: 13px 13px 3px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 13px 13px 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 13px 13px 3px 1px rgba(0, 0, 0, 0.2);
}

#doggoContainer {
  position: absolute;
  left: 55rem;
  top: 7rem;
}

#doggo {
  position: absolute;
  width: 400px;
  height: 400px;
}

#eyeContainer {
}

#leftEye {
  position: absolute;
  top: 68px;
  left: 104px;
  width: 10px;
}

#rightEye {
  position: absolute;
  top: 68px;
  left: 185px;
  width: 10px;
}

#aboutUsTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#aboutUsNormalTextContainer {
  width: 100%;
  margin-bottom: var(--margin-small);
}
#aboutUsTextLightTextContainer {
  width: 85%;
  margin-top: var(--margin-small);
}

#whiteLine {
  width: 65%;
  border-bottom: solid 3px white;
}

#aboutUsText {
  font-size: var(--text-middle);
  color: var(--dsb-dark);
  line-height: 1.3;
}

.underLine {
  text-decoration: underline;
}

#quietly,
#efficiently {
  font-size: var(--text-middle);
  font-style: italic;
  font-weight: bold;
}

#solutions {
  color: white;
  /* text-shadow: -1.5px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; */
  font-weight: bolder;
  font-size: 1.5rem;
  -webkit-text-stroke: 1.1px black;
  text-shadow: -3px 0px 0px rgba(0, 0, 0, 1);
}

#aboutUsTextLight {
  font-weight: lighter;
  font-style: italic;
}

/* 
-----------------EB SECTION-----------------
 */

#ebSection {
  background-color: var(--dsb-ebWhite);
  background-image: url(/public/assets/ebSection/ebSectionBackground.png);
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ebHeaderContainer {
  margin-top: 6rem;
  margin-bottom: 3rem;
  position: relative;
  right: 19.5rem;
  display: flex;
  justify-content: center;
}

#ebHeader {
  height: 4.5rem;
}

#cardContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.card {
  background-color: var(--dsb-white);
  width: 23rem;
  height: 40rem;
  max-width: 25rem;

  margin: 1rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

.cardImageContainer {
  width: 100%;
  height: 60%;
  background: rgb(8, 115, 199);
  background: rgb(8, 115, 199);
  background: linear-gradient(
    90deg,
    rgba(8, 115, 199, 1) 30%,
    rgba(56, 221, 207, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage {
  width: 85%;
}

.cardTextContainer {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardText {
  line-height: 1.5;
  width: 85%;
  font-size: var(--text-small);
}

#haltianCardTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#haltianCardText {
  text-align: center;
  width: 100%;
}

/* 
-----------------BANZAIMAN SECTION-----------------
 */

#banzaimanSection {
  background-image: linear-gradient(
    to right,
    #82b467,
    #94bb56,
    #acc042,
    #c7c32a,
    #e6c401
  );
  background-size: cover;
  width: 100%;
}

#banzaimanSectionContentContainer {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sectionOrder {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#gameSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

#banzaimanLogo {
  position: relative;
  right: 4rem;
  height: auto;
  width: 25rem;
}

#banzaimanGameImage {
  width: 35rem;
}

#banzaimanTabSelector {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 450px;
  height: 75px;
}

.tabSelectorButton {
  width: 25%;
  height: 100%;
  background-color: #2f711e;
  background-position: center center;

  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.tabSelectorButton:hover {
}

#gongButton {
  background-image: url(/public/assets/banzaimanSection/tabSelector/gongWhite.svg);
}
#gongButton:hover {
  background-image: url(/public/assets/banzaimanSection/tabSelector/gongWhite.svg) !important;
}

#mountainButton {
  background-image: url(/public/assets/banzaimanSection/tabSelector/mountain.svg);
}

#mountainButton:hover {
  background-image: url(/public/assets/banzaimanSection/tabSelector/mountainWhite.svg) !important;
}

#glyphButton {
  background-image: url(/public/assets/banzaimanSection/tabSelector/glyph.svg);
}

#glyphButton:hover {
  background-image: url(/public/assets/banzaimanSection/tabSelector/glyphWhite.svg) !important;
}

#spaceButton {
  background-image: url(/public/assets/banzaimanSection/tabSelector/space.svg);
}

#spaceButton:hover {
  background-image: url(/public/assets/banzaimanSection/tabSelector/spaceWhite.svg) !important;
}

#maracasButton {
  background-image: url(/public/assets/banzaimanSection/tabSelector/maracas.svg);
}

#maracasButton:hover {
  background-image: url(/public/assets/banzaimanSection/tabSelector/maracasWhite.svg) !important;
}

#gameSectionTextContainer {
  background: rgb(102, 171, 52);
  background: linear-gradient(
    90deg,
    rgba(102, 171, 52, 1) 0%,
    rgba(141, 188, 113, 1) 100%
  );

  margin-left: 4rem;
  width: 36rem;
  height: 33rem;

  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

#gameSectionTextBox {
  width: 100%;
  height: 100%;
  background-image: url(/public/assets/banzaimanSection/banzaimanTextboxBackground.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banzaimanText {
  font-size: var(--text-small);
  background-color: white;
  line-height: 1.8;
  padding: 2rem;
  width: 70%;
}

/* forces the text box container below the tab selector */
#bottom {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

#googlePlayBadge {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 18.8rem;
}
/* 
-----------------EMPLOYEES SECTION-----------------
 */

#employeesSection {
  background-image: linear-gradient(
    to right top,
    #d1d1d1,
    #dcdcdc,
    #e8e8e8,
    #f3f3f3,
    #ffffff
  );
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#employeeSectionHeaderContainer {
  width: 100%;

  height: 15rem;
  background-color: var(--dsb-yellow);
  margin-top: var(--margin-big);
  margin-bottom: var(--margin-big);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#employeeSectionHeader {
  width: 30rem;
  height: 95%;
}

#employeeContainer {
  margin-top: var(--margin-medium);
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 9rem;
  column-gap: 5rem;
}

.employeeCard {
  /* background-color: #fcf7f7; */
  background-color: #ffffff;

  width: 20rem;
  height: 15rem;
  position: relative;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.employeeImage {
  position: absolute;
  bottom: 12.7rem;
  width: 100%px;
  height: 195px;
}

.employeeNameAndTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employeeName {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: lighter;
  font-style: italic;
}
.employeeTitle {
  font-size: var(--text-middle);

  font-style: italic;
  font-weight: lighter;
}
.employeeDescription {
  font-size: var(--text-small);
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  font-weight: lighter;
  line-height: 1.1rem;
}
/*
-----------------FOOTER-----------------
 */

#footer {
  background-color: #003a46;
  height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #87a2ab;
  font-size: 0.8rem;

  text-align: center;
}

@media (prefers-reduced-motion) {
  * {
    transition: none;
  }
}

/* --------------1500PX-------------- */
@media only screen and (max-width: 1500px) {
  #aboutUsTextBox {
    width: 65rem;
    margin-bottom: var(--margin-medium);
  }

  #doggoContainer {
    left: 50.5rem;
    z-index: 0;
  }
}

/* --------------1400PX-------------- */
@media only screen and (max-width: 1500px) {
  #aboutUsTextBox {
    border-width: 3rem;
  }

  #doggoContainer {
    left: 45rem;
    top: 10rem;
  }
}

/* --------------1200PX-------------- */
@media only screen and (max-width: 1200px) {
  /* NAVBAR */

  #navbar {
    width: 100%;
  }
  /* HERO SECTION */

  #heroSection {
    height: 75rem;
  }

  #aboutUsTextBox {
    width: 45rem;
    height: 40rem;
  }
  #aboutUsTextContainer {
    align-items: flex-start;
    margin-left: var(--margin-small);
    margin-right: var(--margin-small);
  }

  #aboutUsNormalTextContainer {
    margin-bottom: var(--margin-small);
    width: 90%;
  }
  #aboutUsTextLightTextContainer {
    margin-top: var(--margin-small);
    width: 65%;
  }

  #doggoContainer {
    left: 25.5rem;
    top: 20rem;
  }

  #whiteLine {
    position: relative;
    right: 2.5rem;
    width: 112.4%;
  }

  /* EB SECTION */

  #ebHeaderContainer {
    right: 0rem;
  }
  #cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  /* BANZAIMAN SECTION */
  #sectionOrder {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #gameSectionTextContainer {
    margin: 0rem;
  }

  /*
  Employees Section
 */

  #employeeContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

/* --------------900PX-------------- */
@media only screen and (max-width: 900px) {
  /* NAVBAR */

  #navbarList {
    justify-content: center;
  }
  #logoContainer {
    margin-left: var(--margin-small);
    margin-right: var(--margin-xs);
    width: 7rem;
    height: 7rem;
    top: 0;
    border: 0.5rem solid var(--dsb-white);
  }

  .listItem {
    margin-right: var(--margin-xs);
  }

  /* HERO SECTION */

  #heroSectionContent {
    justify-content: center;
  }
  #aboutUsTextBox {
    height: 30rem;
    width: 100%;
    border: none;
    box-shadow: none;
  }

  #aboutUsTextContainer {
  }

  #aboutUsTextBox {
    align-items: center;
    justify-content: center;
  }

  #aboutUsNormalTextContainer {
    margin-bottom: var(--margin-small);
    margin-top: var(--margin-small);
    width: 90%;
  }
  #aboutUsTextLightTextContainer {
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-small);
    width: 65%;
  }

  #whiteLine {
    position: relative;
    right: 0rem;
    width: 100%;
  }

  #doggoContainer {
    display: block;
    left: 35rem;
    top: 16rem;
  }

  #doggo {
    width: 200px;
    height: 200px;
  }

  #leftEye {
    width: 5px;
    top: 34px;
    left: 53px;
  }

  #rightEye {
    width: 5px;
    top: 34px;
    left: 92px;
  }

  #siteHeader {
    display: none;
  }

  /* #aboutUsNormalTextContainer {
    margin-top: var(--margin-small);
    width: 90%;
  }
  #aboutUsTextLightTextContainer {
    margin-bottom: var(--margin-small);
    width: 65%;
  } */

  /* EB SECTION */
  #cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card {
    width: 25rem;
    margin-bottom: 3rem;
  }
  /* Employees Section */
}
/* --------------800px-------------- */

@media only screen and (max-width: 800px) {
  #doggoContainer {
    left: 30rem;
  }
}

/* --------------750px-------------- */
@media only screen and (max-width: 750px) {
  #employeeContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
/* --------------700px-------------- */

@media only screen and (max-width: 700px) {
  #doggoContainer {
    left: 26rem;
  }
}

/* --------------650px-------------- */

@media only screen and (max-width: 650px) {
  #doggoContainer {
    left: 25rem;
  }
}

/* --------------600px-------------- */
@media only screen and (max-width: 600px) {
  /* navbar */

  #navbar {
    height: 3rem;
  }

  #navbar.navbarScrolled {
    height: 3rem;
  }

  .listItem {
    display: none;
  }
  .listItemScrolled {
    display: none;
  }

  #navbarButton {
    display: block;
  }

  #navbarList {
    justify-content: space-between;
  }

  #logoContainer {
    width: 3rem;
    height: 3rem;
    border-width: 0.25rem;
    border: none;
  }

  #logoContainer.logoContainerScrolled {
    top: 0;
    height: 3rem;
    width: 3rem;
    border: none;
  }
  #logoSvg {
    width: 100%;
    height: 100%;
  }
  #logoSvg.logoSvgScrolled {
    width: 100%;
    height: 100%;
  }

  #mainMenu {
    height: 100vh;
    background-color: white;
    position: absolute;
    right: 0;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .mainMenuListItem {
    display: flex;

    padding: 2rem;
    padding-bottom: 2px;
  }
  .mainMenuListLink {
    display: flex;
    color: black;
    text-decoration: none;
    font-size: var(--text-middle);
  }

  /* HERO SECTION */

  #aboutUsTextBox {
    height: 40rem;
  }

  #doggoContainer {
    display: none;
  }

  #aboutUsNormalTextContainer {
    margin-bottom: var(--margin-small);
    margin-top: var(--margin-small);
    width: 100%;
  }
  #aboutUsTextLightTextContainer {
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-small);
    width: 100%;
  }

  /* Employees Section */

  #employeeSectionHeader {
    width: 20rem;
    rotate: 16deg;
  }

  /* banzaiman Section */

  #bottom {
    justify-content: center;
  }
  #gameSectionTextContainer {
    width: 100%;
  }

  #gameSectionContainer {
    width: 100%;
  }

  #banzaimanLogo {
    width: 70%;
    right: 0rem;
  }

  #banzaimanGameImage {
    width: 100%;
  }

  #banzaimanTabSelector {
    width: 70%;
    height: 4rem;
  }
  #gongButtonBackground {
  }
  /* eb section */

  #ebHeader {
    width: 95%;
  }
  #cardContainer {
    align-items: center;
  }
  .card {
    width: 80%;
  }

  #cardImagePerson {
    height: 100%;
    width: 100%;
  }

  #cardImagePhone {
    height: 120%;
  }
  #banzaimanText {
    font-size: 95%;
  }
}

/* --------------450px-------------- */

@media only screen and (max-width: 450px) {
  #banzaimanTabSelector {
    height: 3.5rem;
  }
}

/* --------------400px-------------- */

@media only screen and (max-width: 400px) {
  /* navbar */
  #logoContainer {
    margin-left: var(--margin-xs);
  }

  /* HERO SECTION */
  /* eb section */
  .card {
    width: 90%;
  }

  /* banzaiman section */
  #banzaimanText {
    font-size: 90%;
  }

  #gameSectionContainer {
    width: 100%;
  }

  #banzaimanLogo {
    width: 80%;
  }

  #banzaimanGameImage {
    width: 100%;
  }

  #banzaimanTabSelector {
    width: 80%;
    height: 3rem;
  }

  /* employee Section */

  #employeeSectionHeader {
    width: 81%;
  }

  .employeeCard {
    width: 17rem;
    width: 100%;
  }
}

/* --------------300px-------------- */
@media only screen and (max-width: 300px) {
  #aboutUsTextBox {
    height: 45rem;
  }

  #aboutUsNormalTextContainer {
    margin-bottom: var(--margin-xs);
    margin-top: var(--margin-xs);
    width: 100%;
  }
  #aboutUsTextLightTextContainer {
    margin-top: var(--margin-xs);
    margin-bottom: var(--margin-xs);
    width: 100%;
  }

  /* EB SECTION */
  .card {
    width: 100%;
  }

  /* BANZAIMAN SECTION */
  #banzaimanText {
    font-size: 85%;
  }

  #banzaimanTabSelector {
    height: 2.5rem;
  }

  #googlePlayBadge {
    width: 15rem;
  }
}
